* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  height: 100vh;
  font-size: 14px;
}

body {
  background-color: rgba(34, 34, 99, 0.721);
  height: 100%;
}

.container {
  height: 100%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.degrade {
  background: linear-gradient(to right, #e6835c42, #5cc4e652);
}
/* ESTILO DO HEADER */

header {
  text-align: center;
  margin-bottom: 40px;
}

header img {
  max-width: 120px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: rgba(189, 191, 205, 0.41);
  font-weight: 300;
}

/* ESTILO DOS BOTÕES */

section.btn-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a.link button {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 30px;
  font-size: 1.2em;
  cursor: pointer;
  color: #ffffff;
  transition: 0.2s;
}

a.link i {
  font-size: 1.5em;
}

a.link button:hover,
footer a.btn-footer:hover {
  transform: scale(1.05);
}

.youtube {
  color: #ff0000;
}

.twitter {
  color: #3cabf1;
}

.tiktok {
  color: #f7f7f7;
}

.whatsapp {
  color: #25d366;
}

.phone {
  color: #4371b5;
}

.email {
  color: #db113b;
}

/* ESTILO FOOTER */

footer {
  text-align: center;
  margin: 30px;
}

footer a.btn-footer {
  width: 60px;
  height: 60px;
  display: inline-block;
  font-size: 2em;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.2s;
}
